.movie_details_container{
    background-image: radial-gradient(circle at 20% 50%, rgba(12.94%, 14.90%, 22.75%, 0.98) 0%, rgba(20.39%, 22.35%, 29.02%, 0.88) 100%);
}
.single_column{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
}
.inner_content{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.poster{
    img{
        border-radius: 8px;
    }
}
.movie_details_info{
    * {
        color: #ffffff;
    }
    section{
        padding-left: 20px;
    }
}
.other_status{
    padding-top: 70px;
    display: flex;
    align-items:center;
    justify-content: center;
}